@model RzrSite.Admin.ViewModels.Products.ListViewModel

@foreach (var product in Model.Products)
{
    <div class="row">
        <div class="col-md-2">
            @product.Name
        </div>
        <div class="col-md-5">
            {category-path}<b>@product.Path</b>
        </div>
        <div class="col-md-3">
            <a asp-action="Edit" asp-controller="Product" asp-route-categoryId="@Model.CategoryId" asp-route-productLineId="@Model.ProductLineId" asp-route-id="@product.Id">Редактировать</a>
        </div>
        <div class="col-md-2">
            <a asp-action="Delete" asp-controller="Product" asp-route-categoryId="@Model.CategoryId" asp-route-productLineId="@Model.ProductLineId" asp-route-id="@product.Id">Удалить</a>
        </div>
    </div>
    <hr />
}