@model RzrSite.Models.Responses.ProductLine.StrippedProductLine
@{
  ViewData["Title"] = $"Редактирование линейки {Model.Name}";
}
<div class="row">
  <div class="col-md-8">
    <h2>@ViewData["Title"]</h2>
    <section>
      <form asp-action="Edit" method="post" class="border-info form-horizontal" role="form">
        <div class="form-group form-row">
          <label class="col-md-2 control-label">Id</label>
          <div class="col-md-10">
            <input type="text" readonly="readonly" name="@nameof(Model.Id)" class="form-control" value="@Model.Id" />
          </div>
        </div>
        <div class="form-group form-row">
          <label class="col-md-2 control-label">Название</label>
          <div class="col-md-10">
            <input type="text" name="@nameof(Model.Name)" class="form-control" value="@Model.Name" />
          </div>
        </div>
        <div class="form-group form-row">
          <label class="col-md-2 control-label">Описание</label>
          <div class="col-md-10">
            <textarea name="@nameof(Model.Description)" class="form-control">
              @Model.Description
            </textarea>
          </div>
        </div>
        <div class="form-group form-row">
          <label class="col-md-2 control-label">Вес</label>
          <div class="col-md-10">
            <input type="text" class="form-control" value="@Model.Weight" />
          </div>
        </div>
        <div class="form-group form-row">
          <label class="col-md-2 control-label">Ссылка</label>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-2">
                <span class="text-info text-host">{ui-host}</span>
              </div>
              <div class="col-md-10">
                <input type="text" name="@nameof(Model.Path)" class="form-control" value="@Model.Path" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-row">
          <label class="col-md-2 control-label">Продукты</label>
          @*<div class="col-md-10">
        @await Component.InvokeAsync("ProductLines", new { categoryId = Model.Id })
        <div class="row">
          <div class="offset-8 col-md-4">
            <button class="btn btn-block btn-success">
              Добавить
            </button>
          </div>
        </div>
      </div>*@
        </div>
        <div class="form-group form-row">
          <div class="col-md-6">
            <a class="col-md-6 offset-2" asp-action="NavigateBackwards">Назад</a>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-outline-info btn-block form-control">Сохранить</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>