@model RzrSite.Models.Resources.DbFile.StrippedDbFile
@{
  ViewData["Title"] = $"Редактирование файла. Файла {Model.Id}";
}
<div class="row">
  <div class="col-md-6">
    <h2>Авторизация</h2>
    <section>
      <form action="/Files/Edit/@Model.Id" method="post" class="border-info form-horizontal" role="form">
        <div class="form-group form-row">
          <label class="col-md-2 control-label">Id</label>
          <div class="col-md-10">
            <input type="text" readonly="readonly" class="form-control" value="@Model.Id" />
          </div>
        </div>
        <div class="form-group form-row">
          <label class="col-md-2 control-label">Тип</label>
          <div class="col-md-10">
            <input type="text" class="form-control" readonly="readonly" value="@RzrSite.Models.Converters.FileFormatConverter.ToContentType(Model.Format)" />
          </div>
        </div>
        <div class="form-group form-row">
          <label class="col-md-2 control-label">Скачать файл</label>
          <div class="col-md-10">
            <a asp-action="Download" asp-route-id="@Model.Id"> &hearts; нажми меня чтобы скачать &hearts;</a>
          </div>
        </div>
        <div class="form-group form-row">
          <label class="col-md-2 control-label"></label>
          <div class="col-md-10">
            <span>Мне влом делать перезаливку файла, так-что если нужно поменять контент - удаляем, перезаливаем, редактируем</span>
          </div>
        </div>
        <div class="form-group form-row">
          <label class="col-md-2 control-label">Ссылка</label>
          <div class="col-md-10">
            <div clas="row">
              <div class="col-md-3">
                <span class="text-info">{host}/api/storage/</span>
              </div>
              <div class="col-md-9">
                <input type="text" name="@nameof(Model.Path)" class="form-control" value="@Model.Path" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-row">
          <div class="col-md-10 offset-2">
            <button type="submit" class="btn btn-outline-info btn-block form-control">Сохранить</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>