@{
  ViewData["Title"] = "Закачать файлы недорого без СМС";
}
@model RzrSite.Admin.ViewModels.Files.IndexViewModel

<div class="text-center">
  <table class="table flex-fill">
    <thead>
      <tr>
        <th width="50px">
          Id
        </th>
        <th width="100px">
          Тип
        </th>
        <th>
          Ссылка
        </th>
        <th width="250">
          Действия
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var dbFile in Model.Files)
      {
        <tr>
          <td>
            @dbFile.Id
          </td>
          <td>
            @dbFile.Format
          </td>
          <td>
            @RzrSite.Admin.Helper.UrlLocator.ApiUrl/storage/@dbFile.Path
          </td>
          <td>
            <a asp-action="Edit" asp-route-id="@dbFile.Id" >Редактировать</a><br />
            <a asp-action="Delete" asp-route-id="@dbFile.Id">Удалить</a>
          </td>
        </tr>
      }
      <tr>
        <td colspan="3">
          <hr />
        </td>
        <td>
          <partial name="AddPartialView" model="new RzrSite.Admin.ViewModels.Files.AddViewModel();" />
        </td>
      </tr>
      @if (Model.Error != null)
      {
      <tr class="bg-danger">
        <td colspan="4">
          @Model.Error.Error
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>